div.champ {
    oveflow: auto; /* Simplement pour éviter que les float ne dépassent du bloc */
}
input {
    oveflow: auto; /* Simplement pour éviter que les float ne dépassent du bloc */

    margin-right: 20px; /* Espace laissé pour le bouton X */
    button {
        float: right;
        width: 20px;
        height: 20px;
    }
}
button {
    float: right;
    width: 20px;
    height: 20px;
}