
<form  action="../../Traitement/User/InscriptionT.php" method="post">

            <input type="text"  id="login" name="login" placeholder="Entrer un Login" required /> </br> </br>

            <input type="text" id="nom" name="nom" placeholder="Entrer un Nom" required /> </br> </br>

            <input type="text"  id="prenom" name="prenom" placeholder="Entrer un Prenom" required /> </br> </br>

            <input type="email"  id="mail" name="mail" placeholder="Entrer un Mail" required /> </br> </br>

            <input type="password" id="mdp" name="mdp" placeholder="Entrer un Mot De Passe" required /></br> </br>

            <input type="password"  id="mdp" name="mdp2" placeholder="Retaper votre Mot De Passe" required /> </br> </br>

            <button class="primary-btn text-uppercase">Inscription !</button>
    </form>

    <input type="submit" value="retour" onclick="window.location='../../ndex.php';" />     
